<h1>Videos</h1>
<% if !@video.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @video.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @video, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.label :video %>
      <%= f.file_field :video %>
      <%= f.submit "Upload",  class: "btn btn-primary" %>
   <% end %>
</div>
